<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home" class="page-scroll">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about class="page-scroll">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#usage" class="page-scroll">Usage</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#share" class="page-scroll">Share</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="." class="page-scroll">Refresh</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
