<script>

</script>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="..">{{ site.title }}</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div id="intro-header" class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1 id="quote"></h1>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href=".." class="btn btn-default btn-lg page-scroll"><i class="fa fa-arrow-left fa-fw"></i> <span class="network-name">Back</span></a>
              </li>
              <li>
                <button onclick="genQuote(); return false;" class="btn btn-default btn-lg page-scroll"><i class="fa fa-cloud fa-fw"></i> <span class="network-name">Refresh</span></button>
              </li>
            </ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>

<script src="/js/quotes.js"></script>
