<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="..">{{ site.title }}</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-sm-push-3 col-sm-6">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
            <div class="browser-mockup intro-message-background">
						  <h4>By the will of the American people your executive order to add <i>Fresh Trumps</i> to Slack has made Slack Great Again!</h4>
              <p class="code">You can now use the slash command <code>/freshtrump</code>.</p>
            </div>
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="#" class="btn btn-default btn-lg page-scroll"><i class="fa fa-check fa-fw"></i> <span class="network-name">Done</span></a>
              </li>
            </ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
