<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="javascript:window.close()">{{ site.title }}</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header trump-bg">

		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-lg-push-3 col-sm-push-3 col-sm-6">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
            <div class="browser-mockup intro-message-background">
						  <h4>Use the will of the American people to issue an executive order to add <i>Fresh Trumps</i> to Slack.</h4>
              <p>Fresh trumps will create the slash command <code>/freshtrump</code> which will provide you with a fresh Trump gif and quote to the active chat.</p>
              <p>A bot will also be created .</p>
              <p>See the <a href="../slack-privacy" target="_blank">privacy policy</a> for more info on how data from slack will be used.</p>
            </div>
                <a href="https://slack.trumps.lol/login" class="btn btn-default btn-lg"><i class="fa fa-slack fa-fw"></i> Add to Slack</a>
            </ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
